@import url('https://fonts.googleapis.com/css?family=Pacifico|Varela+Round&display=swap');

*
{
	font-family: 'Varela', sans-serif;
	scroll-behavior: smooth;
}


body {
	margin: 0;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

section.split
{
	position: relative;
	height: 100vh;
	display: flex;
	background: #fff;
}

section.split .lieux
{
	opacity: 0.1;
}

section.split .lieux:hover
{
	flex-grow: 5;
	opacity: 1;

}

.lieux
{
	position: relative;
	flex-grow: 2;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	overflow: hidden;
	transition: 1s;
}

.lieux:nth-child(1)
{
	background: url(../img/plage.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}
.lieux:nth-child(2)
{
	background: url(../img/pins.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}
.lieux:nth-child(3)
{
	background: url(../img/maquis.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.lieux .infos_lieux
{
	position: absolute;
	width: 400px;
	height: auto;
	background: rgba(255, 255, 255, 0.712);
	padding: 40px;
	box-sizing: border-box;
	transform: translateX(100%);
	transition: 0.5s;
	text-align: justify;
}

.lieux:hover .infos_lieux
{
	transform: translateX(0);
	transition-delay: 1s;
}

.lieux .infos_lieux h2
{
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 30px;
	color: #ed363a;
}

.lieux .infos_lieux p

{
	margin: 0;
	padding: 0;
	color: #70CDFF;
}

body#connexion
{
    background: #e9ebee;
    font-family: 'Source Sans Pro', sans-serif;
}

.box a
{
  padding-top: 0;
  font-size: x-small;
  color: #444;
}

.box a:hover
{
  color: #2ecc71;
}

.box{
    position: relative;
    text-align: center;
}

.box h3{
    font-weight: 800;
    color: #444;
    text-transform: uppercase;
}

.box input[type ="text"],
.box input[type ="email"],
.box input[type ="password"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #444;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #444;
    font-weight: bold;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus, 
.box input[type ="email"]:focus,
.box input[type = "password"]:focus
{
    width: 280px;
    border-color: #2ecc71;
}

.box input[type = "submit"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover
{
    background: #2ecc71;

}



body#index
{
    font-family: 'Source Sans Pro', sans-serif;
    background: #e9ebee;
}

#main_register
{
    background: #e9ebee;
    background-size: cover;
    border-radius: 10px;
    font-family: 'Source Sans Pro', sans-serif;

}
#main_register h3
{
    text-align: center;
    margin: 0;
    border-bottom: 2px solid #2ecc71;
    color: white;
}
#main_register form
{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    color: #444;
}
#main_register form input
{
    margin: 3%;
    text-align: center;
    width: 60%;
    font-size: 30px;
    border: 2px solid #444;
    background-color: rgb(31, 30, 30);
    border-radius: 20px;
    outline: none;
    transition: 500ms width;
    color: white;
}
#main_register form input::placeholder
{
    color: rgba(255, 255, 255, 0.39);
}
#main_register form input[type="submit"]
{
    font-size: 20px;
    margin-top: 2%;
    color: #88c1d0;
    cursor: pointer;
    width: 30%;
    border-color: #2ecc71;
    transition: 500ms;
    transition-property: transform, background, color, border;
}
#main_register form input:not([type="submit"]):focus
{
    width: 70%;
    border-color: #2ecc71;
}
#main_register form input:not([type="submit"]):valid
{
    width: 70%;
    border-color: #88c1d0;
}
#main_register form input[type="submit"]:hover
{
    background-color: #2ecc71;
    transform: scale(1.1,1.3);
    color: black;
    border-color: black;
}
#main_register a
{
    text-decoration: none;
    color: #444;
    transition-property: color;
    transition-duration: 200ms;
}
#main_register a:hover
{
    color: #2ecc71;
}

/* reserv */
.Reservations div{
	
  flex:1;	
  text-align:center;	
  height:100%;
  width:100%;		
  }
  
  .Reservations #plage{
  display:flex;
  align-items:center;
  justify-content:center;
  background-image:url(../img/plage.jpg);	
  background-size:cover;
  }
  
  .Reservations #pins{
  display:flex;
  align-items:center;
  justify-content:center;
  background-image:url(../img/pins.jpg);	
  background-size:cover;
  }
  
  .Reservations #maquis{
  display:flex;
  align-items:center;
  justify-content:center;
  background-image:url(../img/maquis.jpg);	
  background-size:cover;	
  }
  
  
  ::placeholder {
     color: rgba(255, 255, 255, 0.5);
  
  }
  
  
  .type{
    
    display: inline-block;
    color: #ffffff;
    height:25px;
    width:auto;
    background: #4095ff;
    background: linear-gradient(top, #4095ff 0%, #277ce6 100%);
    background: -moz-linear-gradient(top, #05162b 0%, #06336b 100%);
    background: -webkit-linear-gradient(top, #2a2c2e 0%, #445468 100%);
    background: -o-linear-gradient(top, #303f52 0%, #6d7681 100%);
    border: 1px solid #338bf6;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.2), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
    -moz-box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.2), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
    -webkit-box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.2), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
    -o-box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.2), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.50);
  }
  
  option{
    
    color:black;
  }
  
  .name{
    display: inline-block;
    color: #ffffff;
    height:25px;
    width:auto;
    background: #4095ff;
    background: linear-gradient(top, #4095ff 0%, #277ce6 100%);
    background: -moz-linear-gradient(top, #05162b 0%, #06336b 100%);
    background: -webkit-linear-gradient(top, #2a2c2e 0%, #445468 100%);
    background: -o-linear-gradient(top, #303f52 0%, #6d7681 100%);
    border: 1px solid #338bf6;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.2), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
    -moz-box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.2), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
    -webkit-box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.2), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
    -o-box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.2), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.50);
  }
  
  
  .reserv{
    display: inline-block;
    color: #ffffff;
    height:25px;
    width:auto;
    background: #4095ff;
    background: linear-gradient(top, #4095ff 0%, #277ce6 100%);
    background: -moz-linear-gradient(top, #05162b 0%, #06336b 100%);
    background: -webkit-linear-gradient(top, #2a2c2e 0%, #445468 100%);
    background: -o-linear-gradient(top, #303f52 0%, #6d7681 100%);
    border: 1px solid #338bf6;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.2), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
    -moz-box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.2), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
    -webkit-box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.2), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
    -o-box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.2), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.50);
  }
  
  .reserv:hover,
  .about:hover{
    background: linear-gradient(top, #5aafff 0%, #4095ff 100%);
    background: -moz-linear-gradient(top, #5aafff 0%, #4095ff 100%);
    background: -webkit-linear-gradient(top, #5aafff 0%, #4095ff 100%);
    background: -o-linear-gradient(top, #5aafff 0%, #4095ff 100%);
  }
  
  #plage input, #pins input, #maquis input{
    padding: 12px 15px;
    margin: 3px 4px;
    display: inline-block;
    color: #ffffff;
    font-size: 26px;
    cursor: pointer;
    background: #4095ff;
    background: linear-gradient(top, #4095ff 0%, #277ce6 100%);
    background: -moz-linear-gradient(top, #4095ff 0%, #277ce6 100%);
    background: -webkit-linear-gradient(top, #4095ff 0%, #277ce6 100%);
    background: -o-linear-gradient(top, #4095ff 0%, #277ce6 100%);
    border: 1px solid #338bf6;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.2), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
    -moz-box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.2), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
    -webkit-box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.2), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
    -o-box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.2), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.50);
  }
  #plage input:hover, #pins input:hover, #maquis input:hover{
    background: linear-gradient(top, #5aafff 0%, #4095ff 100%);
    background: -moz-linear-gradient(top, #5aafff 0%, #4095ff 100%);
    background: -webkit-linear-gradient(top, #5aafff 0%, #4095ff 100%);
    background: -o-linear-gradient(top, #5aafff 0%, #4095ff 100%);
  }
  
  :active{
    opacity:0.8;
  }
  
  .choixreservations {
  display:flex;
  margin-top:10%;
  font-family: 'Oxygen', sans-serif;
  }
  
  .choixreservations h1{
  text-align:center;	
  }
  
  
  .choixreservations .mareservation{
  display:flex;
  width:100%;
  height:318px;
  background-color:#9e9e9ea6;
  color: white; 
  text-shadow: black 0.1em 0.1em 0.2em
  }
  
  .choixreservations .mareservation td{
  color: white; 
  text-shadow: black 0.1em 0.1em 0.2em;
  font-family: 'Oxygen', sans-serif;		
  }
  
  .choixreservations form{
  padding:5%;
  height:100%;
  width:400px;
  
  }
  
  .choixreservations select{
  font-family: 'Oxygen', sans-serif;
  margin-top:2%;
  }
  
  .res{
  text-decoration: line-through;	
  }
  .choixreservations form input{
  margin-top:15px;
  font-family: 'Oxygen', sans-serif;	
  }
  
  .choixreservations form .name2{
  margin-top:15px;
  font-family: 'Oxygen', sans-serif;	
  display: inline-block;
  color: #ffffff;
  height:25px;
  width:auto;
  background-color: #f4433629;
  border: 1px solid red;
  border-radius: 5px;
  outline:none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.2), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
  -moz-box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.2), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
  -webkit-box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.2), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
  -o-box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.2), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
  
  }
  
  .noname2{
  color:red;	
  text-shadow: 1px 1px 2px pink;
  }
  
  .choixreservations label{
  font-weight:bold;	
  }
  
  #size{
  font-size:20px;	
  }
  
  #titre{
  text-align:center;
  color: white; 
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size:60px;
  font-family: 'Oxygen', sans-serif;	
  margin-top:5%;
  }
  
  
  
  .calendrier{
  display:flex;
  align-items:center;
  padding:80px;
  }
  
  
  
  .calendrier input{
  width:30px;
  height:30px;
  }
  
  @media (max-width: 600px){
  
  .calendrier{
    display:flex;
    flex-direction:column;
    padding:35px;
    justify-content:center;
    margin-left:0;
    }	
    
    #titre{
    text-align:center;
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size:60px;
    font-family: 'Oxygen', sans-serif;	
    margin-top:10%;
    }
  }
  
  @media (max-width: 1080px) {
  .choixreservations .mareservation{
    height:380px;
    }
  }
  
  @media (max-width: 950px) {
  .choixreservations .mareservation{
    height:400px;
    }
  }
  
  
  @media (max-width: 900px) {
  
  .choixreservations .mareservation{
    height:auto;
    }
  
    .calendrier{
    display:flex;
    padding:35px;
    align-items:center;
    margin-left:0;
    }
    .calendrier input{
    width:25px;
    height:25px;
    
    }
    
    .mareservation {
    display:flex;
    flex-direction:column;
    }
    
    .Reservations{
    display:flex;
    flex-direction:column;		
    }
    
    .Reservations #pins {
    display:flex;
    align-items:center;
    justify-content:center;
    background-position:center;
    background-image:url(../img/pins.jpg);	
    background-size:cover;
    }
    
    .Reservations #maquis {
    display:flex;
    align-items:center;
    justify-content:center;
    background-position:center center;
    background-image:url(../img/maquis.jpg);	
    background-size:cover;
    }
    
    
    
  }
  
  .erreurreserv{
  position:absolute;
  top:0;
  width:100%;	
  }
  
  .erreurreserv p{
    text-align:center;
    color:red;
    font-size:25px;
    font-family: 'Oxygen', sans-serif;
    text-shadow: black 0.1em 0.1em 0.2em;	
  }


  footer
  {
    position: fixed;
  }


  #accueil_main{width: 100%; height: 100%;}
#accueil_title
{
  transform: translateY(17%);
  width: 100%;
  height: 87%;
  background-color: rgb(252, 249, 172, .5);
  background-repeat: no-repeat;
  background-size: 100%;
}
#accueil_message
{
  width: 70%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  transform: translate(21%, 12%);
}
#accueil_message #message_title
{
  width: 100%;
  height: 30%;
}
#accueil_message #message_leaves
{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
}
#accueil_message #message_button
{
  width: 100%;
  height: 20%;
}

#accueil_message #message_title h1
{
    margin: 0;
    transform: translateY(10%);
    text-align: center;
    font-size: 80px;
    color:  rgb(27, 209, 88);
}

#accueil_message #message_leaves img
{
  width: 20%;
  height: 70%;
  transform: translateY(10%);
}

#accueil_message #message_button button
{
  font-size: 35px;
  width: 50%;
  margin-left: 25%;
  color: rgb(224, 221, 28);
  background-color: rgb(27, 209, 88);
  border: 2px solid white;
  outline: none;
  border-radius: 20px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  
}

#accueil_message #message_button button:hover
{
    cursor: pointer;
    background-color: rgb(224, 221, 28);
    color: rgb(27, 209, 88);
}

#accueil_presentation
{
  transform: translateY(15%);
  width: 100%;
  height: 87%;
  background-image: url('Images/Backgrounds/background2.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

#presentation_message
{
  width: 80%;
  height: 70%;
  background-color: rgba(224, 221, 28, 0.5);
  transform: translate(10%, 12%);
  padding: 2%;
  display: flex;
}

.content_presentation
{
  width: 100%;
  height: 95%;
  padding: 1%;
  
}

.content_presentation h1
{
  margin: 0;
  text-align: center;
  color: rgb(225, 221, 28);
  font-size: 35px;
  -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(27, 209, 88);
    font-weight: bold;
}

.content_presentation .article_p
{
  margin-left: 10%;
  width: 78%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.705);
  padding: 1%;
  border-radius: 10px;
 
}

.content_presentation .article_p p
{
  text-align: justify;
  color: rgb(27, 209, 88);
  font-size: 18px;
  line-height: 250%;
}

.content_presentation .article_p p span
{
  font-style: italic;
  color:  rgb(27, 209, 88);
}